.container {
  width: 25rem;
  min-height: 7rem;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(107, 184, 195);
  border: 1px solid white;
  border-radius: 1rem;
}

.title,
.message {
  color: white;
  margin: 0.5rem;
  text-align: justify;
}

.title {
  text-transform: uppercase;
}
