.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 40%;
  height: 60%;
  text-align: justify;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.date {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
